.content-container {
  padding: 20px 50px;
  background-color: white;
}

.pages-container {
  padding: 30px 50px;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.pages-title-container > h1 {
  font-size: 24px;
  font-weight: bold;
}

.pages-title-container {
  padding-bottom: 0.8em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor {
  padding: 1em;
  box-shadow: 1px 2px 0px lightgrey;
  background-color: white;
}

.editor-component-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.editor-component-container:hover {
  border: 1px solid #F7F7F7;
  padding: 5px;
  border-radius: 4px;
}

.editor-fluff {
  display: none;
}

.editor-component-container:hover > .editor-fluff {
  display: flex;
}

.component-controls {
  flex-direction: column;
}

.component-controls > .component-controls-button {
  margin: 5px 0;
}